<div class="row">
    <div class="col-md-12 text-center">

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success" [routerLink]="['new/:A1B2C3']" routerLinkActive="active">Add New</button>
            <button type="button" class="btn btn-primary" [routerLink]="['edit/:D4F5G6']" routerLinkActive="active">Edit</button>
            <button type="button" class="btn btn-secondary" [routerLink]="['detail/:H7I8J9']" routerLinkActive="active">Details</button>
        </div>

    </div>
</div>

<router-outlet></router-outlet>